<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/<%=userObject._id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" <% if(userObject.name){ %>
            value="<%=userObject.name%>" 
            <% } %> 
            required>
            <br>
        Email: <input type="text" name="toppings" value="<%=userObject.email%>" required>
        <br>
        hobbies: <input type="text" name="tasty" <% if(userObject.hobbies){ %>
            value="<%=userObject.hobbies%>" 
            <% } %> 
            required>
            <br>
        City: <input type="text" name="city" <% if(userObject.city){ %>
            value="<%=userObject.name%>" 
            <% } %> 
            required>
            <br>
        state: <input type="text" name="state" <% if(userObject.state){ %>
            value="<%=userObject.state%>" 
            <% } %> 
            required>
            <br>
        Phone Number: <input type="text" name="phoneNumber" <% if(userObject.phoneNumber){ %>
            value="<%=userObject.name%>" 
            <% } %> 
            required>
            <br>
        DOB: <input type="date" name="dob" <% if(userObject.dob){ %>
            value="<%=userObject.name%>" 
            <% } %> 
            required>
            <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>