<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/instrumentsShow.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruments</title>
</head>

<body>
    <main class="wrapper">
        <%- include('../partials/nav') %>
            <%- include('../partials/messages') %>
            <li>
                <div class = "card">
                    <div class="card_inner">
                        <div class="card_face card_face--front">
                            <img src="<%= instrument.imagePath %>" alt="" class="head">
                            <h1><%= instrument.name %></h1>
                            <h3>User: <%= instrument.username.username %> </h3>
                            <p>$ <%= instrument.price %></p>
                        </div>
            </li>
                <br><br><br><br>
                    <% if(instrument.username.username == userObject.username){ %>
                    <a href="/instruments/<%=instrument._id%>/edit"><button>Edit</button></a>
                    <form action="/instruments/<%= instrument._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete <%= instrument.name %>?</button>
                    </form>
                    <% } %>
                        <a href="/instruments">Go to all instruments</a>

                        <br>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/instrumentsCss.js"></script>
</body>

</html>