<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (messages.error) { %>
        <%= messages.error %>
      <% } %>



    <h1><%= userObject.username %></h1>
    <h1><%= userObject.name %></h1>

    <br><br><br>
    <% userObject.hobbies.forEach(Hobby => { %>
            <%= userObject.hobbies %>

    <% }); %>
    <% if(userObject.city){ %> 
    <p> <%= userObject.city %> , <%=  userObject.state %>   </p>  
    <% } %> 
<form action="/logout" method="POST">
    <button type="submit">LOG OUT</button>
</form>

<a href="/edit/<%= userObject._id %> ">
    <button>
        Edit Profile
    </button>
</a>
</body>
</html>