<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/registerform.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main class="wrapper nav">
    <%- include('../partials/messages') %>
    <%- include('../partials/nav') %>
     
    <section>

    <form action="/users/edit/<%=userObject._id%>?_method=PUT" method="POST">
         <input type="text" name="name" placeholder="Name" <% if(userObject.name){ %>
            value="<%=userObject.name%>" 
            <% } %> 
            required>
         <input type="email" name="toppings" placeholder="Email" value="<%=userObject.email%>" required>
         <input type="text" name="hobbies" placeholder="Hobbies" <% if(userObject.hobbies){ %>
            value="<%=userObject.hobbies%>" 
            <% } %> 
            required>
         <input type="text" name="city" placeholder="City" <% if(userObject.city){ %>
            value="<%=userObject.city%>" 
            <% } %> 
            required>
         <input type="text" name="state" placeholder="State" <% if(userObject.state){ %>
            value="<%=userObject.state%>" 
            <% } %> 
            required>
        <button type="submit" id="signup">Submit</button>
    </form>
</section>

    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="/js/hobbies.js"></script>
</main>

</body>
</html>